@import '../_slide';
@import '../_mixins';

.esg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include respond-to(phone) {
    overflow: auto;
  }
  .sub_navigation {
    width: 20%;
  }
  .body {
    height: 1000px;
    display: flex;
    flex: row;
    align-items: stretch;
    justify-content: space-between;
    .text-table-container {
      height: 100%;
      .text-table {
        // overflow-y: scroll;
      }
    }
    // FRAMEWORK VIEW
    .framework {
      // padding-top: 0.6%;
      @include respond-to(phone) {
        padding-top: 3%;
      }
      .text-table-container {
        width: inherit;
        height: 55%;
        .text-table.bullet {
          justify-content: flex-start;
          height: 100%;
          @include respond-to(phone) {
            justify-content: flex-start;
            width: 100%;
          }
          .headerContainer {
            width: auto;
            height: auto;
            h4 {
              width: auto;
              height: auto;
              // font-size: 1.2em;
            }
          }
          ul {
            scroll-behavior: smooth;
            overflow-y: scroll;
            height: 80%;
            @include respond-to(phone) {
              padding-top: 3%;
              margin-bottom: 0;
            }
          }
        }
      }
      .scrollIcon {
        position: fixed;
        width: 100px;
        height: auto;
        right: 50px;
        bottom: 150px;
        @include respond-to(phone) {
          width: 40px;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }
  @include slide-appear;
  @include slide-enter;
  @include slide-exit;
}
