.esg {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .esg .body {
    height: 1000px;
    display: flex;
    flex: row;
    align-items: stretch;
    justify-content: space-between; }
    .esg .body .text-table-container {
      height: 100%; }
      .esg .body .text-table-container .text-table {
        overflow-y: scroll; }
    .esg .body .framework {
      padding-top: 0.6%;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .esg .body .framework {
          padding-top: 3%; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .esg .body .framework {
          padding-top: 3%; } }
      .esg .body .framework .text-table-container {
        width: inherit;
        height: 65%; }
        .esg .body .framework .text-table-container .text-table {
          overflow-y: scroll;
          /* iPhone 4 ----------- */
          /* iPhone 5 ----------- */
          /* iPhone 6 ----------- */
          /* Samsung Galaxy S3 ----------- */
          /* Samsung Galaxy S4 ----------- */
          /* Samsung Galaxy S5 ----------- */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .esg .body .framework .text-table-container .text-table {
              width: 100%; } }
          .esg .body .framework .text-table-container .text-table .headerContainer {
            width: auto;
            height: auto; }
            .esg .body .framework .text-table-container .text-table .headerContainer h4 {
              width: auto;
              height: auto; }
          .esg .body .framework .text-table-container .text-table ul {
            margin-top: 8%;
            height: 100%;
            /* iPhone 4 ----------- */
            /* iPhone 5 ----------- */
            /* iPhone 6 ----------- */
            /* Samsung Galaxy S3 ----------- */
            /* Samsung Galaxy S4 ----------- */
            /* Samsung Galaxy S5 ----------- */ }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
            @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
              .esg .body .framework .text-table-container .text-table ul {
                padding-top: 3%;
                margin-bottom: 0; } }
      .esg .body .framework .scrollIcon {
        position: fixed;
        width: 100px;
        height: auto;
        right: 50px;
        bottom: 150px;
        /* iPhone 4 ----------- */
        /* iPhone 5 ----------- */
        /* iPhone 6 ----------- */
        /* Samsung Galaxy S3 ----------- */
        /* Samsung Galaxy S4 ----------- */
        /* Samsung Galaxy S5 ----------- */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
        @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
          .esg .body .framework .scrollIcon {
            width: 40px;
            right: 10px;
            bottom: 10px; } }
  .esg.slide-appear.slide-appear-active {
    height: 100%;
    transition: height 400ms ease; }

@keyframes slide-in {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%); } }
  .esg.slide-enter {
    z-index: 10;
    opacity: 0.1; }
    .esg.slide-enter.slide-enter-active {
      opacity: 1;
      animation: slide-in 800ms forwards;
      -webkit-animation: slide-in 800ms forwards;
      transition: height 500ms ease 800ms, animation 1s ease 850ms, opacity 1s ease 850ms; }

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
  .esg.slide-exit {
    z-index: 10;
    opacity: 1; }
    .esg.slide-exit.slide-exit-active {
      opacity: 0;
      animation: slide-out 800ms forwards;
      -webkit-animation: slide-out 800ms forwards;
      transition: all 800ms ease; }

@keyframes slide-out {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0); } }
