@import "../_slide";
@import "../_mixins";

.esg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include respond-to(phone) {
    overflow: auto;
  }
  .slide {
    height: inherit;
    display: block;
    position: relative;
    overflow: hidden;
    // FRAMEWORK VIEW
    .framework {
      height: 85%;
      @include slide-enter;
      @include slide-exit;

      // padding-top: 0.6%;
      @include respond-to(phone) {
        padding-top: 3%;
      }
      .text-table-container {
        width: inherit;
        height: 100%;
        .text-table.bullet {
          justify-content: flex-start;
          height: 100%;
          @include respond-to(phone) {
            justify-content: flex-start;
            width: 100%;
          }
          .headerContainer {
            width: auto;
            height: auto;
            h4 {
              width: auto;
              height: auto;
              // font-size: 1.2em;
            }
          }
          .list-group {
            scroll-behavior: smooth;
            overflow-y: scroll;
            height: 80%;
            @include respond-to(phone) {
              padding-top: 3%;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
