.people {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .people {
      overflow: auto; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .people {
      overflow: auto; } }
  .people .slide {
    height: 80%;
    display: flex; }
    .people .slide.slide-enter, .people .slide.slide-appear {
      opacity: 0;
      z-index: 1;
      transform: translate3d(-80%, 0, 0); }
      .people .slide.slide-enter.slide-enter-active, .people .slide.slide-enter.slide-appear-active, .people .slide.slide-appear.slide-enter-active, .people .slide.slide-appear.slide-appear-active {
        width: 80%;
        opacity: 1;
        transform: translate3d(0%, 0, 0);
        transition: opacity 500ms, transform 800ms ease; }

@keyframes slide-in {
  0% { }
  100% { } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
    .people .slide.slide-exit {
      opacity: 1; }
      .people .slide.slide-exit.slide-exit-active {
        opacity: 0;
        display: none;
        animation: slide-out;
        -webkit-animation: slide-out;
        transition: animation 300ms ease; }

@keyframes slide-out {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-200%, 0, 0); } }
  .people.slide-enter, .people.slide-appear {
    opacity: 0;
    z-index: 1;
    transform: translate3d(-80%, 0, 0); }
    .people.slide-enter.slide-enter-active, .people.slide-enter.slide-appear-active, .people.slide-appear.slide-enter-active, .people.slide-appear.slide-appear-active {
      width: 80%;
      opacity: 1;
      transform: translate3d(0%, 0, 0);
      transition: opacity 500ms, transform 800ms ease; }

@keyframes slide-in {
  0% { }
  100% { } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
  .people.slide-exit {
    opacity: 1; }
    .people.slide-exit.slide-exit-active {
      opacity: 0;
      display: none;
      animation: slide-out;
      -webkit-animation: slide-out;
      transition: animation 300ms ease; }

@keyframes slide-out {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-200%, 0, 0); } }
