.personDetails {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .personDetails .right {
    height: 90%;
    font-family: "Merriweather", serif;
    width: 40%; }
    .personDetails .right .info {
      border-bottom: #d5d5d5 1px solid;
      height: 100%; }
      .personDetails .right .info .portrait {
        height: auto;
        width: 80%; }
      .personDetails .right .info .name {
        font-size: 1.2em;
        color: #9b1d1f;
        line-height: 2em;
        margin-top: 5%; }
      .personDetails .right .info .role {
        color: #113a6e;
        font-size: 1em; }
  .personDetails .bioDetails {
    width: 50%;
    align-self: flex-start;
    text-align: left; }
    .personDetails .bioDetails p {
      font-family: "Open Sans", sans-serif;
      font-size: 1em; }
    .personDetails .bioDetails h5 {
      font-family: "Josefin Sans", sans-serif;
      color: #113a6e;
      font-size: 1.2em; }
