@import '../_variables';
@import '../_mixins';

$class-color-list: (blue, $primaryBlue),  (blue2, $primaryBlue),
   (blue3, $primaryBlue),  (red, $cayorRed),  (red2, $cayorRed),
   (red3, $cayorRed),  (grey, $accentGrey),  (grey2, $accentGrey),
   (grey3, $accentGrey),  (Team, $white);

.bioContainer {
  margin: 0;
  background-color: $lightGrey;
  height: 100%;
  padding: 0;
  .bio {
    color: $primaryBlue;
    height: 100%;
    display: block;
    border-radius: 0;
    &.card {
      border: none;
      &:hover {
        opacity: 0.8;
      }
    }
    .headshot {
      width: 100%;
      height: inherit;
      filter: grayscale(100%);
      &.card-img {
        border-radius: 0;
        @include respond-to(phone) {
          // border-radius: 50%;
          // align-self: center;
          // height: 80px;
          // width: 80px;
        }
        @include respond-to(tablets) {
          // height: 145px;
          // width: 145px;
        }
      }
    }
    .title {
      background-color: $greySemiTransparent;
      text-align: center;
      &.card-img-overlay {
        height: 25%;
        padding: 0;
        font-size: 1.2em;
        line-height: 2em;
        font-weight: lighter;
        font-family: $copy-font-family;
        bottom: 0;
        top: 75%;

        .card-body {
          height: 100%;
          padding: 0;
          .card-title {
            color: $cayorRed;
            font-size: 0.9em;
            line-height: 1.1em;
            margin-top: 5px;
          }
          .card-subtitle {
            font-size: 0.7em;
            color: $accentGrey;
            font-family: $open-sans-font-family;
          }
        }
      }
      &:hover {
        display: inline;
      }
    }
  }
}

.colorContainer {
  margin: 0;
  height: 100%;
  padding: 0;

  @each $color, $hex in $class-color-list {
    &.#{$color} {
      background-color: #{$hex};
    }
  }
}
