@import '../_variables';
@import '../_mixins';

.TeamDetails.fade.show {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  height: 70%;
  padding-left: 5%;
  padding-top: 2%;
  @include respond-to(phone) {
    height: 100%;
    align-items: flex-start;
    align-content: baseline;
    padding-left: 0;
  }
  @include respond-to(phone-long) {
    margin-top: 10%;
  }
  @include respond-to(tablets) {
    margin-top: 5%;
    width: 75%;
    padding-left: 0;
    justify-content: center;
  }
  .shaddow {
    z-index: 10;
    // background-color: $accentGrey;
    display: block;
    width: 100%;
    height: auto;
  }
}
