.TeamDetails {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  .TeamDetails.slide-exit {
    position: relative;
    overflow: hidden;
    transform: translate3d(0%, -100%, 0); }
    .TeamDetails.slide-exit.slide-exit-active {
      transform: translate3d(-100%, -100%, 0);
      transition: transform 500ms linear; }
  .TeamDetails.slide-enter, .TeamDetails.slide-appear {
    transform: translate3d(-100%, 0, 0); }
    .TeamDetails.slide-enter.slide-enter-active, .TeamDetails.slide-enter.slide-appear-active, .TeamDetails.slide-appear.slide-enter-active, .TeamDetails.slide-appear.slide-appear-active {
      transform: translate3d(0%, 0, 0);
      transition: transform 800ms linear 550ms; }
  @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .TeamDetails {
      height: 70%;
      width: 80%;
      align-items: flex-start;
      align-content: flex-end;
      padding-left: 0; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .TeamDetails {
      height: 70%;
      width: 80%;
      align-items: flex-start;
      align-content: flex-end;
      padding-left: 0; } }
  .TeamDetails .main {
    width: 100%;
    height: 100%;
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .TeamDetails .main {
        height: 70%; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .TeamDetails .main {
        height: 70%; } }
    .TeamDetails .main .container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding-left: 0; }
      .TeamDetails .main .container .row {
        width: 90%;
        height: 36%;
        margin: 0;
        border: none;
        /* iPads (portrait and landscape) ----------- */
        /* kindle fire (portrait and landscape) ----------- */ }
        @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
          .TeamDetails .main .container .row {
            width: 100%; } }
        @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
          .TeamDetails .main .container .row {
            width: 100%; } }
        @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
          .TeamDetails .main .container .row {
            width: 100%; } }
        @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
          .TeamDetails .main .container .row {
            width: 100%; } }
        .TeamDetails .main .container .row.offset {
          background-color: #9b1d1f;
          height: 20%;
          justify-content: center;
          /* iPads (portrait and landscape) ----------- */
          /* kindle fire (portrait and landscape) ----------- */ }
          @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .TeamDetails .main .container .row.offset {
              height: 12%; } }
          @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .TeamDetails .main .container .row.offset {
              height: 12%; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .TeamDetails .main .container .row.offset {
              height: 15%; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .TeamDetails .main .container .row.offset {
              height: 15%; } }
          @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
            .TeamDetails .main .container .row.offset {
              height: 15%; } }
          @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
            .TeamDetails .main .container .row.offset {
              height: 15%; } }
          .TeamDetails .main .container .row.offset .colorContainer:first {
            margin-left: 50%; }
          .TeamDetails .main .container .row.offset .colorContainer.Our.Team {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            align-content: center; }
            .TeamDetails .main .container .row.offset .colorContainer.Our.Team .header {
              font-family: "Open Sans", sans-serif;
              color: #9b1d1f;
              height: auto;
              text-align: left;
              width: auto;
              z-index: 1; }
  .TeamDetails.smoosh {
    height: 100%;
    width: 85%; }
