@import "../_variables";
@import "../_mixins";

.TeamDetails {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 80%;
  // padding-top: 2%;
  @include respond-to(phone) {
    height: 70%;
    width: 80%;
    // flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-end;
    padding-left: 0;
  }
  @include respond-to(phone-long) {
    // margin-top: 10%;
  }
  @include respond-to(tablets) {
    // margin-top: 5%;
    // width: 75%;
    // height: 78%;
    // padding-left: 0;
    // justify-content: center;
  }
  .main {
    width: 100%;
    @include respond-to(phone) {
      height: 70%;
    }
    @include respond-to(phone-long) {
      // height: 90%;
    }
    @include respond-to(tablets) {
      // height: 90%;
    }
    .container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding-left: 0;
      .row {
        width: 90%;
        height: 36%;
        margin: 0;
        border: none;
        @include respond-to(phone) {
          width: 100%;
          // height: 100%;
        }
        @include respond-to(phone-long) {
          width: 100%;
          // height: 100%;
        }
        @include respond-to(tablets) {
          // width: 100%;
          // height: 100%;
        }
        &.offset {
          background-color: $cayorRed;
          height: 20%;
          justify-content: center;
          @include respond-to(phone) {
            height: 12%;
          }
          @include respond-to(phone-long) {
            height: 15%;
          }
          @include respond-to(tablets) {
            height: 15%;
          }
          .colorContainer {
            &:first {
              margin-left: 50%;
            }
            &.Our.Team {
              display: flex;
              flex-flow: row wrap;
              justify-content: center;
              align-items: center;
              align-content: center;
              // @include respond-to(phone) {
              //   flex-flow: column wrap;
              // }
              // @include respond-to(phone-long) {
              //   flex-flow: column wrap;
              // }
              // @include respond-to(tablets) {
              //   flex-flow: column wrap;
              // }
              .header {
                font-family: $open-sans-font-family;
                color: $cayorRed;
                height: auto;
                text-align: left;
                width: auto;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
