.carousel {
  overflow-y: hidden; }
  .carousel.slide {
    min-height: 100%;
    max-height: 100%;
    max-width: 150%;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: opacity 600s ease; }
    .carousel.slide .carousel-inner {
      height: 100%; }
      .carousel.slide .carousel-inner .carousel-item {
        height: 100%;
        opacity: 0.1; }
        .carousel.slide .carousel-inner .carousel-item.active {
          position: relative;
          opacity: 1;
          margin: 0 auto; }
          .carousel.slide .carousel-inner .carousel-item.active .carousel-caption.d-none.d-md-block {
            position: absolute;
            color: #ffffff;
            height: auto;
            top: 15%; }
            .carousel.slide .carousel-inner .carousel-item.active .carousel-caption.d-none.d-md-block h3 {
              font-size: 46px;
              width: 62%;
              margin: 0 auto; }
            .carousel.slide .carousel-inner .carousel-item.active .carousel-caption.d-none.d-md-block p {
              font-size: 20px;
              width: 40%;
              margin: 10px auto; }
    .carousel.slide .carousel-control-next .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230A2342' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      height: 40px;
      width: 40px; }
    .carousel.slide .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230A2342' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      height: 40px;
      width: 40px; }
      .carousel.slide .carousel-control-prev .carousel-control-prev-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230A2342' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        width: 50px;
        height: 50px;
        padding: 5px;
        border: 1px solid #0A2342; }
    .carousel.slide .carousel-indicators {
      position: absolute;
      bottom: 15%; }
      .carousel.slide .carousel-indicators li {
        background-color: #9B1D1F; }
        .carousel.slide .carousel-indicators li.active {
          background-color: #0A2342; }
