@import '../../_variables';

.container {
  display: inline-block;

  .slide1, .slide2, .slide0 {
    width: 20px;
    border-radius: 50%;
    border: 1px solid $primaryGrey;
    display: inline-block;
    background-color: $primaryGrey;
    height: 20px;
    margin-left: 10px;

    &.active {
      border: 1px solid $red;
      background-color: $red;
    }
  }
}
