@import '../_slide';
@import '../_variables';
@import '../_mixins';

.popover {
  border-top: 2px solid $cayorRed;
  height: auto;
  min-width: 60%;
  z-index: 5000;
  background-color: $white;
  border-bottom: 1px solid $primaryGrey;
  border-left: 1px solid $primaryGrey;
  margin-right: 10px;
  @include respond-to(phone) {
    min-width: 85%;
    height: 50%;
  }
  &.show {
    width: 100%;
    &.contactForm {
      width: 100%;
      @include respond-to(phone) {
        width: 100%;
      }
      &.bs-popover-bottom {
        width: 100%;
        height: auto;
        padding-bottom: 5%;
        font-family: $copy-font-family;

        .popover-inner {
          width: 100%;
          height: auto;
          @include respond-to(phone) {
            width: 75%;
          }
          .popover-header {
            background-color: $transparent;
            color: $primaryBlue;
            // padding-right: 5%;
            padding-top: 3%;
            font-size: 1.2em;
            text-align: center;
            width: 100%;
            .times {
              position: absolute;
              right: 15px;
              top: 10px;
              color: $primaryGrey;
            }
            h5 {
              font-size: 1em;
              // padding-right: 3%;
            }
          }
          .popover-body {
            padding: 1rem;
            width: 100%;
            .contactBody {
              padding-left: 5%;
              h3 {
                font-size: 1.3rem;
                font-family: $headline-font-family;
                line-height: 1.5em;
                color: $cayorRed;
                padding-bottom: 2%;
                padding-top: 2%;
              }
              img {
                width: 400px;
                height: auto;
                float: right;
                @include respond-to(phone) {
                  width: 200px;
                }
              }
              .address {
                padding-top: 5%;
                width: 42%;
                height: auto;
                display: flex;
                flex-flow: column nowrap;
                h4 {
                  font-size: 1em;
                  line-height: 1.2em;
                  font-family: $copy-font-family;
                  color: $primaryGrey;
                  &.right {
                    // text-align: right;
                    width: 80%;
                    margin-left: 20%;
                  }
                  &:last-child {
                    margin-top: 3%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include slide-down;
}
