.homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .homepage {
      overflow: auto; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .homepage {
      overflow: auto; } }
  @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
    .homepage {
      overflow: auto; } }
  @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
    .homepage {
      overflow: auto; } }
  .homepage.slide-enter, .homepage.slide-appear {
    opacity: 0;
    z-index: 1;
    transform: translate3d(-80%, 0, 0); }
    .homepage.slide-enter.slide-enter-active, .homepage.slide-enter.slide-appear-active, .homepage.slide-appear.slide-enter-active, .homepage.slide-appear.slide-appear-active {
      width: 80%;
      opacity: 1;
      transform: translate3d(0%, 0, 0);
      transition: opacity 500ms, transform 800ms ease; }

@keyframes slide-in {
  0% { }
  100% { } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
  .homepage.slide-exit {
    opacity: 1; }
    .homepage.slide-exit.slide-exit-active {
      opacity: 0;
      display: none;
      animation: slide-out;
      -webkit-animation: slide-out;
      transition: animation 300ms ease; }

@keyframes slide-out {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-200%, 0, 0); } }
