.homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .homepage {
      overflow: auto; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .homepage {
      overflow: auto; } }
  @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
    .homepage {
      overflow: auto; } }
  @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
    .homepage {
      overflow: auto; } }
  .homepage .slide {
    overflow: hidden; }
    .homepage .slide .slide-enter,
    .homepage .slide .slide-appear {
      z-index: 1; }
      .homepage .slide .slide-enter.slide-enter-active, .homepage .slide .slide-enter.slide-appear-active,
      .homepage .slide .slide-appear.slide-enter-active,
      .homepage .slide .slide-appear.slide-appear-active {
        animation: slide-in 800ms forwards;
        -webkit-animation: slide-in 800ms forwards;
        transition: animation 800ms ease 1s, transform 800ms ease 1s; }

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
  .homepage .slide-exit {
    background-color: green; }
    .homepage .slide-exit.slide-exit-active {
      animation: slide-out 800ms forwards;
      -webkit-animation: slide-out 800ms forwards;
      transition: animation 500ms ease; }

@keyframes slide-out {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0); } }
