.homepage {
  background: #ffffff;
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden; }
