@import '../_variables';
// @import '../keyframes';


.homepage {
  background: $white;
  // @mixin keyframes(slideLeft)
  animation: slideLeft 3s ease-out 0s 1;
  // @include keyframes('ease-out 3s 1s 1');
  // -webkit-transition: all 4s ease-in-out;
  // -moz-transition: all 4s ease-in-out;
  // -o-transition: all 4s ease-in-out;
  // transition: all 4s ease-in-out;
  // z-index: 2;
  // overflow-y: auto;
  // overflow-x: hidden;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
