@import '../_variables';
@import '../_mixins';

.sub_navigation {
  float: left;
  height: 100%;
  padding-top: 3%;
  display: inline-block;
  width: 25%;
  border-right: 1px solid $lightGrey;
  background-color: $lightGreySemiTransparent;
  @include respond-to(phone) {
    margin-left: 0;
    width: 30%;
  }
  .list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    color: $primaryGrey;
    text-align: left;
    width: 90%;
    font-size: 1em;
    height: auto;
    list-style: none;
    // margin-left: 4%;
    // float: right;
    // @include respond-to(phone) {
    //   font-size: 0.8em;
    //   width: 90%;
    //   margin-left: 0;
    //   float: right;
    //   padding-left: 0;
    // }
    @include respond-to(tablets) {
      margin-top: 20%;
    }
    .hideIcon {
      display: none;
    }
    .active {
      color: $cayorRed;

      // margin-left: -12%;
      @include respond-to(phone) {
        // font-size: 0.8em;
        // margin: -10%;
        // background-color: blue;
      }
    }

    // li
    .top {
      list-style: none;
      // height: 200px;
      // padding: 12px 10px;
      color: $primaryBlue;
      font-weight: 700;
      width: 95%;
      text-align: left;
      -moz-text-align-last: left;
      flex-grow: 1;
      @include respond-to(phone) {
        width: 100%;
        // max-height: 75px;
      }
      @include respond-to(large-screen) {
        // max-height: 100px;
        align-self: flex-start;
        margin-top: 0;
      }
      &.active {
        font-weight: bolder;
        margin-left: -2%;
        width: fit-content;
        &:hover {
          font-weight: bolder;
        }
      }
      &:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab;
      }
    }
    .sub {
      color: $primaryGrey;
      padding: 4px 10px;
      list-style: none;
      width: 90%;
      text-align: left;
      -moz-text-align-last: left;
      flex-grow: 1;

      @include respond-to(phone) {
        width: 100%;
        max-height: 75px;
      }
      @include respond-to(large-screen) {
        max-height: 100px;
        align-self: flex-start;
        margin-top: 0;
      }
      &.active {
        color: $cayorRed;
        margin-left: -1%;
        width: fit-content;
      }
      &:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab;
      }
    }
  }
}
