.sub_navigation {
  float: left;
  height: 100%;
  padding-top: 3%;
  display: inline-block;
  width: 25%;
  border-right: 1px solid #d5d5d5;
  background-color: #d5d5d561;
  /* iPhone 4 ----------- */
  /* iPhone 5 ----------- */
  /* iPhone 6 ----------- */
  /* Samsung Galaxy S3 ----------- */
  /* Samsung Galaxy S4 ----------- */
  /* Samsung Galaxy S5 ----------- */ }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .sub_navigation {
      margin-left: 0;
      width: 30%; } }
  .sub_navigation .list {
    display: flex;
    flex-flow: column;
    color: #696969;
    text-align: left;
    width: 80%;
    font-size: 1em;
    height: 50%;
    list-style: none;
    padding-inline-start: 0;
    float: right;
    align-items: flex-start;
    /* iPhone 4 ----------- */
    /* iPhone 5 ----------- */
    /* iPhone 6 ----------- */
    /* Samsung Galaxy S3 ----------- */
    /* Samsung Galaxy S4 ----------- */
    /* Samsung Galaxy S5 ----------- */
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .sub_navigation .list {
        text-align: fit-content;
        width: 85%;
        margin: 0; } }
    @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
      .sub_navigation .list {
        margin-top: 20%; } }
    @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
      .sub_navigation .list {
        margin-top: 20%; } }
    .sub_navigation .list .hideIcon {
      display: none; }
    .sub_navigation .list .active {
      color: #9b1d1f;
      line-height: normal;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .active {
          width: 90%;
          text-align: fit-content; } }
    .sub_navigation .list .top {
      list-style: none;
      display: block;
      align-self: flex-start;
      color: #113a6e;
      font-weight: 700;
      width: fit-content;
      text-align: left;
      -moz-text-align-last: left;
      flex-grow: 1;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */
      /* Large screens ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .top {
          font-size: 0.9em;
          padding-bottom: 5px; } }
      @media only screen and (min-device-width: 1440px) and (min-device-height: 900px) {
        .sub_navigation .list .top {
          margin-top: 0; } }
      .sub_navigation .list .top.active {
        font-weight: bolder;
        margin-left: -4%;
        width: fit-content;
        word-wrap: normal;
        /* iPhone 4 ----------- */
        /* iPhone 5 ----------- */
        /* iPhone 6 ----------- */
        /* Samsung Galaxy S3 ----------- */
        /* Samsung Galaxy S4 ----------- */
        /* Samsung Galaxy S5 ----------- */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
          .sub_navigation .list .top.active {
            margin-left: -5%;
            width: 100%; } }
        .sub_navigation .list .top.active:hover {
          font-weight: bolder; }
        .sub_navigation .list .top.active .svg-inline--fa.fa-long-arrow-alt-right.fa-w-14.fa-pull-left.active {
          width: auto;
          margin-left: -10px;
          display: inline; }
      .sub_navigation .list .top:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab; }
    .sub_navigation .list .sub {
      color: #696969;
      padding: 4px 10px;
      list-style: none;
      width: fit-content;
      text-align: left;
      -moz-text-align-last: left;
      flex-grow: 1;
      display: block;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */
      /* Large screens ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .sub_navigation .list .sub {
          width: 100%;
          max-height: 75px; } }
      @media only screen and (min-device-width: 1440px) and (min-device-height: 900px) {
        .sub_navigation .list .sub {
          max-height: 100px;
          align-self: flex-start;
          margin-top: 0; } }
      .sub_navigation .list .sub.active {
        color: #9b1d1f;
        margin-left: -1%;
        width: fit-content; }
      .sub_navigation .list .sub:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab; }
      .sub_navigation .list .sub .svg-inline--fa.fa-long-arrow-alt-right.fa-w-14.fa-pull-left.active {
        width: auto;
        margin-left: -10px;
        display: inline; }
