.sub_navigation {
  float: left;
  height: 100%;
  padding-top: 5%;
  display: inline-block;
  width: 25%;
  background-color: #D5d5d561; }
  .sub_navigation .list {
    color: #696969;
    text-align: left;
    width: 100%;
    font-size: 1em;
    height: 100%;
    list-style: none;
    margin-left: 4%; }
    .sub_navigation .list .hideIcon {
      display: none; }
    .sub_navigation .list .active {
      color: #9B1D1F;
      margin-left: -3%; }
    .sub_navigation .list .top {
      list-style: none;
      padding: 20px 10px;
      color: #113a6e;
      font-weight: 700;
      width: 95%; }
      .sub_navigation .list .top.active {
        font-weight: bolder; }
        .sub_navigation .list .top.active:hover {
          font-weight: bolder; }
      .sub_navigation .list .top:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab; }
    .sub_navigation .list .sub {
      color: #696969;
      padding: 10px 10px;
      list-style: none;
      width: 90%; }
      .sub_navigation .list .sub.active {
        color: #9B1D1F;
        margin-left: -10%; }

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .sub_navigation {
    max-height: 250px;
    margin-left: 1%;
    background-color: rgba(72, 72, 72, 0.5); }
    .sub_navigation .list {
      font-size: 0.8rem; }
      .sub_navigation .list li {
        padding: 7px 5px; } }
