@import '../_variables';
@import '../_mixins';

.sub_navigation {
  float: left;
  height: 100%;
  // margin-left: 10px;
  display: inline-block;
  width: 25%;
  background-color: $lightGrey;
  opacity: 90%;

  .list {
    color: $primaryGrey;
    text-align: left;
    width: 100%;
    // margin: 10px;
    height: 100%;
    .hideIcon {
      display: none;
    }
    .top {
      list-style: none;
      padding: 20px 10px;
      color: $primaryBlue;
      font-weight: 400;
      width: 95%;
      &.active {
        font-weight: bolder;
        &:hover {
          font-weight: bolder;
        }
        // .caret {
        //   transform: rotate(180deg);
        // }
      }
      &:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab;
        // .caret {
        //   transform: rotate(-180deg);
        // }
      }
    }
    .sub {
      color: $primaryGrey;
      padding: 10px 10px;
      list-style: none;
      width: 90%;

      &.active {
        color: $cayorRed;
        margin-left: -10%;
      }
    }
  }
}

  @include respond-to(phone) {
    .sub_navigation {
      max-height: 250px;
      margin-left: 1%;
      background-color: $backgroundGrey;

      .list {
        font-size: 0.8rem;

        li{
          padding: 7px 5px;
        }
      }
    }
  }
