@import "../_variables";
@import "../_mixins";

.sub_navigation {
  float: left;
  height: 100%;
  padding-top: 3%;
  display: inline-block;
  width: 25%;
  border-right: 1px solid $lightGrey;
  background-color: $lightGreySemiTransparent;
  @include respond-to(phone) {
    margin-left: 0;
    width: 30%;
  }
  .list {
    display: flex;
    flex-flow: column;
    color: $primaryGrey;
    text-align: left;
    width: 80%;
    font-size: 1em;
    height: 50%;
    list-style: none;
    padding-inline-start: 0;
    float: right;
    align-items: flex-start;
    margin-top: -8px;
    padding-right: 4%;
    @include respond-to(phone) {
      text-align: fit-content;
      width: 85%;
      margin: 0;
    }
    @include respond-to(tablets) {
      margin-top: 20%;
    }
    .hideIcon {
      display: none;
    }
    .active {
      color: $cayorRed;
      line-height: normal;
      margin-top: 5px;
      @include respond-to(phone) {
        width: 90%;
        text-align: fit-content;
      }
    }
    .top {
      a {
        list-style: none;
        display: block;
        align-self: flex-start;
        color: $primaryBlue;
        font-weight: 700;
        min-width: 25vmin;
        // width: 100%;
        text-align: left;
        -moz-text-align-last: left;
        flex-grow: 1;
        padding-bottom: 1vmin;
        padding-top: 1vmin;
        @include respond-to(phone) {
          font-size: 0.8em;
          // align-self: flex-start;
        }
        @include respond-to(large-screen) {
          // align-self: flex-start;
          margin-top: 0;
        }
      }
      &.active {
        font-weight: bolder;
        margin-left: -10%;
        width: 100%;
        word-wrap: normal;

        @include respond-to(phone) {
          margin-left: -5%;
          width: 100%;
        }
        &:hover {
          font-weight: bolder;
        }
        // arrow inline
        .svg-inline--fa.fa-long-arrow-alt-right.fa-w-14.fa-pull-left.active {
          width: auto;
          margin-left: -10px;
          display: inline;
        }
      }
      &:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab;
      }
    }
    .sub {
      display: block;
      a {
        color: $primaryGrey;
        // flex-grow: 1;
        padding: 4px 10px;
        list-style: none;
        width: 100%;
        text-align: left;
        -moz-text-align-last: left;
        @include respond-to(phone) {
          width: 100%;
          max-height: 70px;
          font-size: 0.8em;
        }
        @include respond-to(phone-long) {
          width: 100%;
          max-height: 70px;
          font-size: 0.8em;
        }
        @include respond-to(large-screen) {
          max-height: 100px;
          align-self: flex-start;
          margin-top: 0;
        }
      }
      &.active {
        color: $cayorRed;
        margin-left: -3%;
        width: 100%;
      }
      &:hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: grab;
      }
      // arrow
      .svg-inline--fa.fa-arrow-right.fa-w-14.fa-pull-left.active {
        width: auto;
        margin-left: -10px;
        // display: inline;
      }
    }
  }
}
