.approach {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .approach {
      overflow: auto; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .approach {
      overflow: auto; } }
  .approach .slide {
    height: inherit;
    display: flex; }
