@import "../_mixins";
@import "../_variables";
.approach {
  height: 100%;
  width: 100%;
  overflow: hidden;

  @include respond-to(phone) {
    overflow: auto;
  }
  .slide {
    height: inherit;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: $white;
  }
}
