.approach {
  width: 100%;
  height: calc(100%-200px);
  overflow: hidden; }
  .approach.slide-enter {
    z-index: 10;
    opacity: 0.1; }
    .approach.slide-enter.slide-enter-active {
      opacity: 1;
      animation: slide-in 800ms forwards;
      -webkit-animation: slide-in 800ms forwards;
      transition: height 500ms ease 800ms, animation 1s ease 850ms, opacity 1s ease 850ms; }

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
  .approach.slide-exit {
    z-index: 10;
    opacity: 1; }
    .approach.slide-exit.slide-exit-active {
      opacity: 0;
      animation: slide-out 800ms forwards;
      -webkit-animation: slide-out 800ms forwards;
      transition: all 800ms ease; }

@keyframes slide-out {
  0% {
    transform: translate3d(0%, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate3d(0%, 0, 0); }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0); } }
