@import "../_slide";
@import "../_mixins";

.approach {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex: row;
  line-height: auto;
  @include respond-to(phone) {
    overflow: auto;
  }

  @include slide-enter;
  @include slide-exit;
}
