.regionDetails {
  background: url('../media/world.png') no-repeat center center;
  background-size: auto 50%;
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  width: 70%;
  height: 60%;

  .west-africa {
    width: 300px;
    order: 1;
    align-self: center;
  }
  .east-africa {
    order: 10;
    width: 300px;
    align-self: center;
  }
  .south-africa {
    width: 300px;
    order: 1;
    align-self: flex-end;
    // padding-top: 10%;
  }
}
