.regionDetails {
  background: url("../media/world.png") no-repeat center center;
  background-size: auto 60%;
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  width: 70%;
  height: 600px; }
  .regionDetails .west-africa {
    width: 300px;
    order: 1;
    align-self: center; }
  .regionDetails .east-africa {
    order: 10;
    width: 300px;
    align-self: center; }
  .regionDetails .south-africa {
    order: 1;
    align-self: flex-end; }
