.regionDetails {
  background: url("../media/countries.jpg") no-repeat center center;
  background-size: auto 75%;
  display: flex;
  flex: column wrap;
  justify-content: center;
  width: 70%;
  height: 65%; }
  .regionDetails .west-africa {
    width: 300px;
    order: 1;
    align-self: flex-start; }
  .regionDetails .east-africa {
    order: 10;
    width: 300px;
    align-self: flex-start; }
  .regionDetails .south-africa {
    width: 300px;
    order: 1;
    align-self: center; }
