@import '../_mixins';
@import '../_variables';

.regionDetails {
  background: url('../media/map2.jpg') no-repeat center center;
  background-size: auto 75%;
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  align-self: flex-start;
  margin-top: 3%;

  @include respond-to(phone) {
    background-size: auto 30%;
    justify-content: center;
    width: 100%;
    height: auto;
    background-position: unset;
    background-position-y: 30%;
    background-position-x: 45%;
  }
  @include respond-to(tablets) {
    background-position-y: 40%;
    background-position-x: 45%;
    background-size: auto 50%;
    justify-content: center;
    height: auto;
  }
  .header {
    color: $cayorRed;
    font-size: 1.4em;
    text-align: center;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
  }
  .west-africa {
    width: 300px;
    order: 1;
    position: fixed;
    top: 32%;
    align-self: flex-start;
    font-size: 1.1em;
    line-height: normal;
    @include respond-to(phone) {
      left: 30%;
      width: 100px;
      align-self: flex-start;
      top: 17%;
    }
    @include respond-to(phone-long) {
      top: 17%;
      left: 23%;
    }
    @include respond-to(tablets) {
      top: 20%;
      left: 30%;
    }
    .text-table {
      margin-left: 15%;
      padding-right: 0;
      .headerContainer {
        font-family: $open-sans-font-family;
        font-weight: 100;
      }
    }
  }
  .east-africa {
    order: 10;
    position: fixed;
    top: 32%;
    right: 1%;
    width: 250px;
    align-self: flex-start;
    font-size: 1.2em;
    line-height: normal;
    @include respond-to(phone) {
      width: 100px;
      top: 17%;
      padding-right: 20px;
    }
    @include respond-to(tablets) {
      top: 20%;
    }
  }
  .south-africa {
    width: 400px;
    order: 1;
    position: fixed;
    left: 52%;
    align-self: flex-end;
    font-size: 1em;
    line-height: normal;
    @include respond-to(phone) {
      width: 150px;
      bottom: 100px;
    }
    @include respond-to(tablets) {
      bottom: 10%;
    }
    .text {
      font-size: 1.2em;
      line-height: normal;
    }
  }
}
