@import '../_variables';

// REFACTOR WITH SASS

.SectorsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-content: flex-start;
  ul {
    padding-left: 0;
  }
  .Financial {
    &.Services {
      width: 45%;
      height: 30%;
      .text-table {
        .headerContainer {
          border-bottom: 2px solid $primaryBlue;
          background-color: $lightGrey;
          max-height: 70px;
          h4 {
            display: inline-block;
            line-height: normal;
            padding-top: 5%;
          }
        }
      }

      .approach {
        padding-top: 10px;
        .text {
          padding-top: 5px;
          padding-bottom: 0;
          margin-left: 25%;
        }
      }
    }
  }
  .Infrastructure {
    &.Services {
      width: 45%;
      height: 30%;
      .headerContainer {
        border-bottom: 2px solid $primaryBlue;
        background-color: $lightGrey;
        max-height: 70px;
        h4 {
          display: inline-block;
          line-height: normal;
          padding-top: 1%;
        }
      }

      .approach {
        padding-top: 10px;
        .text {
          padding-top: 5px;
          padding-bottom: 0;
          margin-left: 25%;
        }
      }
    }
  }
  .Consumer {
    &.Goods {
      width: 45%;
      height: 30%;
      .headerContainer {
        border-bottom: 2px solid $primaryBlue;
        background-color: $lightGrey;
        max-height: 70px;
        h4 {
          display: inline-block;
          line-height: normal;
          padding-top: 1%;
        }
      }

      .approach {
        padding-top: 10px;
        .text {
          padding-top: 5px;
          padding-bottom: 0;
          margin-left: 25%;
        }
      }
    }
  }
  .Agribusiness {
    width: 45%;
    height: 30%;
    .headerContainer {
      border-bottom: 2px solid $primaryBlue;
      background-color: $lightGrey;
      max-height: 70px;
      h4 {
        display: inline-block;
        line-height: normal;
        padding-top: 5%;
      }
    }

    .approach {
      padding-top: 10px;
      .text {
        padding-top: 5px;
        padding-bottom: 0;
        margin-left: 25%;
      }
    }
  }
}
