.SectorsContainer {
  width: 70%;
  height: 75%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  left: 0;
  /* iPhone 4 ----------- */
  /* iPhone 5 ----------- */
  /* iPhone 6 ----------- */
  /* Samsung Galaxy S3 ----------- */
  /* Samsung Galaxy S4 ----------- */
  /* Samsung Galaxy S5 ----------- */
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .SectorsContainer {
      margin-top: 1%; } }
  @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
    .SectorsContainer {
      margin-top: 2%; } }
  @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
    .SectorsContainer {
      margin-top: 2%; } }
  .SectorsContainer .row {
    height: 50%;
    margin: 0; }
    .SectorsContainer .row .sector {
      width: 100%;
      background-color: #470c0d; }
      .SectorsContainer .row .sector.col-4 {
        height: 100%;
        padding-left: 0;
        padding-right: 0; }
        .SectorsContainer .row .sector.col-4 .Infrastructure.Services {
          width: 100%; }
          .SectorsContainer .row .sector.col-4 .Infrastructure.Services.card {
            padding: 0; }
            .SectorsContainer .row .sector.col-4 .Infrastructure.Services.card .image {
              width: 100%; }
        .SectorsContainer .row .sector.col-4 .Consumer.Goods.card .text.card-img-overlay .card-body:hover .card-title {
          line-height: 2em; }
        .SectorsContainer .row .sector.col-4 .Consumer.Goods.card .text.card-img-overlay .card-body:hover .list-group {
          height: 100%; }
          .SectorsContainer .row .sector.col-4 .Consumer.Goods.card .text.card-img-overlay .card-body:hover .list-group .text {
            line-height: 2.3em; }
        .SectorsContainer .row .sector.col-4 .Agribusiness.card .text.card-img-overlay .card-body:hover .card-title {
          line-height: 2em; }
        .SectorsContainer .row .sector.col-4 .Agribusiness.card .text.card-img-overlay .card-body:hover .list-group {
          height: 100%; }
          .SectorsContainer .row .sector.col-4 .Agribusiness.card .text.card-img-overlay .card-body:hover .list-group .text {
            line-height: 1.3em; }
        .SectorsContainer .row .sector.col-4 .card {
          width: 100%;
          height: 100%;
          border: none; }
          .SectorsContainer .row .sector.col-4 .card .image {
            height: inherit;
            border-radius: 0; }
          .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay {
            height: 100%;
            width: 100%;
            padding: 0;
            bottom: 0; }
            .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay .card-body {
              width: inherit;
              height: 100%;
              padding: 0; }
              .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay .card-body .card-title {
                position: absolute;
                color: #9b1d1f;
                text-shadow: #470c0d 0 1px 0;
                font-family: "Merriweather", serif;
                width: 100%;
                bottom: 0;
                margin: 0;
                line-height: 3em;
                background-color: #d5d5d599;
                border: none; }
              .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay .card-body:hover .card-title {
                display: block;
                z-index: 100; }
              .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay .card-body:hover .list-group {
                display: flex;
                height: 100%;
                align-content: flex-start;
                background-color: #d5d5d599; }
                .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay .card-body:hover .list-group .text.list-group-item {
                  background-color: rgba(0, 0, 0, 0);
                  border: none;
                  line-height: auto;
                  transition: 1s;
                  -webkit-transition: 1s;
                  -moz-transition: 1s;
                  -ms-transition: 1s;
                  transition-property: all;
                  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
              .SectorsContainer .row .sector.col-4 .card .text.card-img-overlay .card-body .list-group {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: 0.5s ease; }
    .SectorsContainer .row .colorContainer {
      margin: 0;
      height: 100%;
      padding: 0;
      width: 100%; }
      .SectorsContainer .row .colorContainer.red {
        background-color: #113a6e; }
      .SectorsContainer .row .colorContainer.grey {
        background-color: #484848; }
