.clock {
  border-radius: 50%;
  background: #D5d5d561;
  border: 1px solid #113a6e;
  height: 22px;
  position: relative;
  width: 22px;
  display: inline-block; }
  .clock .minute-container, .clock .hour-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .clock .clockButton {
    position: absolute;
    z-index: 10;
    left: 42%;
    top: 44%;
    width: 3px;
    height: 3px;
    background-color: #113a6e;
    border-radius: 50%; }
  .clock .hour {
    background: #113a6e;
    height: 25%;
    left: 47%;
    position: absolute;
    top: 15%;
    transform-origin: 50% 100%;
    width: 8%; }
  .clock .minute {
    background: #113a6e;
    height: 45%;
    left: 42%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 8%; }
  .clock .hour-container {
    animation: rotate 43200s infinite linear; }
  .clock .minute-container {
    animation: rotate 3600s infinite linear; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }
