@import '../_variables';
@import '../_defaults';

.header {
  width: 100%;
  z-index: 1;

  .logo {
    width: 200px;
    display: inline;
    margin-top: 2%;
    margin-left: 4%;
    
    img {
      position: relative;
    }
  }

  .nav {
    width: 60%;

    li {
      list-style: none;
      display: inline;
      padding: 5px 10px;
    }
  }
}
