.header {
  width: 100%;
  order: 1;
  display: flex;
  color: #696969;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000; }
  .header.people, .header.opportunity, .header.approach, .header.esg {
    width: 100%;
    height: 170px;
    object-fit: contain;
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 2px solid #d5d5d5;
    /* iPhone 4 ----------- */
    /* iPhone 5 ----------- */
    /* iPhone 6 ----------- */
    /* Samsung Galaxy S3 ----------- */
    /* Samsung Galaxy S4 ----------- */
    /* Samsung Galaxy S5 ----------- */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
  .header.people {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../media/joburg_header.jpeg");
    background-size: 100% 100%; }
  .header.opportunity {
    background: url("../media/opportunity_banner.jpg");
    background-size: 100% 100%; }
  .header.approach {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../media/approach_banner.jpg");
    background-size: 100% 100%; }
  .header.esg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../media/esg_banner.jpg");
    background-size: 100% 100%; }
  .header.homepage {
    height: 120px;
    color: #ffffff;
    z-index: 1000; }
  .header .logo-container {
    width: 200px;
    display: flex;
    margin-left: 0;
    z-index: 1000;
    /* iPhone 4 ----------- */
    /* iPhone 5 ----------- */
    /* iPhone 6 ----------- */
    /* Samsung Galaxy S3 ----------- */
    /* Samsung Galaxy S4 ----------- */
    /* Samsung Galaxy S5 ----------- */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    .header .logo-container .logo {
      align-self: center;
      width: 150px;
      height: auto;
      padding-top: 2px;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100%;
          padding: 0; } }
  .header #accra {
    width: 80%;
    z-index: 1000; }
    .header #accra #jbg {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      align-content: stretch;
      align-items: stretch;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .header #accra #jbg {
          height: 100%; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .header #accra #jbg {
          height: 100%; } }
      .header #accra #jbg .right {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;
        align-content: stretch;
        align-items: stretch;
        color: #ffffff;
        z-index: 1000; }
        .header #accra #jbg .right .mobileIcon {
          display: none;
          /* iPhone 4 ----------- */
          /* iPhone 5 ----------- */
          /* iPhone 6 ----------- */
          /* Samsung Galaxy S3 ----------- */
          /* Samsung Galaxy S4 ----------- */
          /* Samsung Galaxy S5 ----------- */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .mobileIcon {
              display: inline;
              color: #9b1d1f;
              height: auto; } }
        .header #accra #jbg .right .nav {
          width: 30%;
          margin-right: 4%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-content: baseline;
          align-items: flex-end;
          font-size: 0.8em;
          font-weight: 400;
          height: 100px;
          z-index: 1000;
          /* iPhone 4 ----------- */
          /* iPhone 5 ----------- */
          /* iPhone 6 ----------- */
          /* Samsung Galaxy S3 ----------- */
          /* Samsung Galaxy S4 ----------- */
          /* Samsung Galaxy S5 ----------- */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 75%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          .header #accra #jbg .right .nav .linkContainer {
            height: auto; }
            .header #accra #jbg .right .nav .linkContainer .link {
              list-style: none;
              display: inline;
              color: inherit;
              order: 1; }
              .header #accra #jbg .right .nav .linkContainer .link.selected {
                font-size: 1.1em;
                font-weight: bold;
                align-self: baseline;
                border-bottom: 3px solid #9b1d1f;
                line-height: 1; }
              .header #accra #jbg .right .nav .linkContainer .link:hover {
                border-bottom: 3px solid #9b1d1f;
                font-weight: 700;
                text-decoration: none;
                color: #9b1d1f; }
              .header #accra #jbg .right .nav .linkContainer .link.people {
                padding-bottom: 118%;
                /* iPhone 4 ----------- */
                /* iPhone 5 ----------- */
                /* iPhone 6 ----------- */
                /* Samsung Galaxy S3 ----------- */
                /* Samsung Galaxy S4 ----------- */
                /* Samsung Galaxy S5 ----------- */ }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.people {
                    padding-bottom: 0; } }
                .header #accra #jbg .right .nav .linkContainer .link.people:hover {
                  padding-bottom: 133%; }
              .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                padding-bottom: 63%;
                /* iPhone 4 ----------- */
                /* iPhone 5 ----------- */
                /* iPhone 6 ----------- */
                /* Samsung Galaxy S3 ----------- */
                /* Samsung Galaxy S4 ----------- */
                /* Samsung Galaxy S5 ----------- */ }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.opportunity {
                    padding-bottom: 0; } }
                .header #accra #jbg .right .nav .linkContainer .link.opportunity:hover {
                  padding-bottom: 72%; }
              .header #accra #jbg .right .nav .linkContainer .link.approach {
                padding-bottom: 85%;
                /* iPhone 4 ----------- */
                /* iPhone 5 ----------- */
                /* iPhone 6 ----------- */
                /* Samsung Galaxy S3 ----------- */
                /* Samsung Galaxy S4 ----------- */
                /* Samsung Galaxy S5 ----------- */ }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.approach {
                    padding-bottom: 0; } }
                .header #accra #jbg .right .nav .linkContainer .link.approach:hover {
                  padding-bottom: 97%; }
              .header #accra #jbg .right .nav .linkContainer .link.esg {
                padding-bottom: 236%;
                /* iPhone 4 ----------- */
                /* iPhone 5 ----------- */
                /* iPhone 6 ----------- */
                /* Samsung Galaxy S3 ----------- */
                /* Samsung Galaxy S4 ----------- */
                /* Samsung Galaxy S5 ----------- */ }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.esg {
                    padding-bottom: 0; } }
                .header #accra #jbg .right .nav .linkContainer .link.esg:hover {
                  padding-bottom: 260%; }
        .header #accra #jbg .right .clocks {
          width: 18%;
          display: flex;
          flex-flow: row;
          order: 2;
          z-index: 1000;
          height: auto;
          justify-content: flex-end;
          /* iPhone 4 ----------- */
          /* iPhone 5 ----------- */
          /* iPhone 6 ----------- */
          /* Samsung Galaxy S3 ----------- */
          /* Samsung Galaxy S4 ----------- */
          /* Samsung Galaxy S5 ----------- */
          /* iphoneX----------- */
          /* iPhone 6+ ----------- */
          /* pixel 2 ----------- */
          /* pixel 2 xl ----------- */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 60%;
              align-self: flex-start;
              order: 1; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 800px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 800px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2.6) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2.6) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 823px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3.5) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 823px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3.5) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          .header #accra #jbg .right .clocks .clock-container {
            width: 49%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-end;
            margin-right: 2%;
            height: auto;
            /* iPhone 4 ----------- */
            /* iPhone 5 ----------- */
            /* iPhone 6 ----------- */
            /* Samsung Galaxy S3 ----------- */
            /* Samsung Galaxy S4 ----------- */
            /* Samsung Galaxy S5 ----------- */ }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly; } }
            .header #accra #jbg .right .clocks .clock-container:hover {
              cursor: grab;
              color: #9b1d1f;
              font-weight: bolder; }
            .header #accra #jbg .right .clocks .clock-container h6 {
              margin-top: 83px;
              padding-left: 15%;
              text-align: left;
              font-size: 0.8em;
              align-self: flex-end;
              /* iPhone 4 ----------- */
              /* iPhone 5 ----------- */
              /* iPhone 6 ----------- */
              /* Samsung Galaxy S3 ----------- */
              /* Samsung Galaxy S4 ----------- */
              /* Samsung Galaxy S5 ----------- */ }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 0;
                  align-self: center;
                  font-size: 0.7em; } }
