.header {
  width: 100%;
  order: 1;
  display: flex;
  color: #696969;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000; }
  .header.people, .header.opportunity, .header.approach, .header.esg {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 2px solid #d5d5d5;
    /* iPhone 4 ----------- */
    /* iPhone 5 ----------- */
    /* iPhone 6 ----------- */
    /* Samsung Galaxy S3 ----------- */
    /* Samsung Galaxy S4 ----------- */
    /* Samsung Galaxy S5 ----------- */
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        max-height: 100px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        height: 150px; } }
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        height: 150px; } }
  .header.people {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../media/joburg_header.jpeg");
    background-size: 100% 100%; }
  .header.opportunity {
    background: url("../media/opportunity_banner.jpg");
    background-size: 100% 100%; }
  .header.approach {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../media/approach_banner.jpg");
    background-size: 100% 100%; }
  .header.esg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../media/esg_banner.jpg");
    background-size: 100% 100%; }
  .header.homepage {
    height: 120px;
    color: #ffffff;
    z-index: 1000; }
  .header .logo-container {
    width: 200px;
    display: flex;
    margin-left: 0;
    z-index: 1000;
    /* iPhone 4 ----------- */
    /* iPhone 5 ----------- */
    /* iPhone 6 ----------- */
    /* Samsung Galaxy S3 ----------- */
    /* Samsung Galaxy S4 ----------- */
    /* Samsung Galaxy S5 ----------- */
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
      .header .logo-container {
        width: 100px;
        padding-left: 1%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .header .logo-container {
        width: 150px; } }
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
      .header .logo-container {
        width: 150px; } }
    .header .logo-container .logo {
      align-self: center;
      width: 150px;
      height: auto;
      padding-top: 2px;
      /* iPhone 4 ----------- */
      /* iPhone 5 ----------- */
      /* iPhone 6 ----------- */
      /* Samsung Galaxy S3 ----------- */
      /* Samsung Galaxy S4 ----------- */
      /* Samsung Galaxy S5 ----------- */
      /* iPads (portrait and landscape) ----------- */
      /* kindle fire (portrait and landscape) ----------- */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .header .logo-container .logo {
          width: 100px; } }
      @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
        .header .logo-container .logo {
          width: 100px; } }
  .header #accra {
    width: 80%;
    z-index: 1000;
    height: 100%; }
    .header #accra #jbg {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      align-content: stretch;
      align-items: stretch;
      height: 100%; }
      .header #accra #jbg .right {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;
        align-content: stretch;
        align-items: stretch;
        color: #ffffff;
        z-index: 1000;
        height: 100%; }
        .header #accra #jbg .right .nav {
          width: 30%;
          margin-right: 4%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          font-size: 0.8em;
          font-weight: 400;
          height: 100%;
          z-index: 1000;
          /* iPhone 4 ----------- */
          /* iPhone 5 ----------- */
          /* iPhone 6 ----------- */
          /* Samsung Galaxy S3 ----------- */
          /* Samsung Galaxy S4 ----------- */
          /* Samsung Galaxy S5 ----------- */
          /* iPads (portrait and landscape) ----------- */
          /* kindle fire (portrait and landscape) ----------- */
          /* Large screens ----------- */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .nav {
              order: 5;
              width: 100%;
              height: 30px;
              align-self: flex-end;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .header #accra #jbg .right .nav {
              width: 40%;
              height: 100%;
              align-items: flex-end; } }
          @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
            .header #accra #jbg .right .nav {
              width: 40%;
              height: 100%;
              align-items: flex-end; } }
          @media only screen and (min-width: 1824px) {
            .header #accra #jbg .right .nav {
              background-color: 'pink';
              align-items: flex-end;
              height: 100%; } }
          @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
            .header #accra #jbg .right .nav {
              background-color: 'pink';
              align-items: flex-end;
              height: 100%; } }
          .header #accra #jbg .right .nav .linkContainer {
            height: 100%;
            display: flex;
            /* iPads (portrait and landscape) ----------- */
            /* kindle fire (portrait and landscape) ----------- */
            /* Large screens ----------- */ }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
              .header #accra #jbg .right .nav .linkContainer {
                align-self: flex-end; } }
            @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
              .header #accra #jbg .right .nav .linkContainer {
                align-self: flex-end; } }
            @media only screen and (min-width: 1824px) {
              .header #accra #jbg .right .nav .linkContainer {
                align-self: flex-end;
                height: 55%; } }
            @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
              .header #accra #jbg .right .nav .linkContainer {
                align-self: flex-end;
                height: 55%; } }
            .header #accra #jbg .right .nav .linkContainer .link {
              align-self: flex-end;
              list-style: none;
              font-weight: bold;
              color: inherit;
              order: 1;
              height: 55%;
              /* Large screens ----------- */ }
              @media only screen and (min-width: 1824px) {
                .header #accra #jbg .right .nav .linkContainer .link {
                  height: 53%;
                  align-self: flex-start;
                  margin-top: 0; } }
              @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
                .header #accra #jbg .right .nav .linkContainer .link {
                  height: 53%;
                  align-self: flex-start;
                  margin-top: 0; } }
              .header #accra #jbg .right .nav .linkContainer .link.selected {
                height: 100%;
                font-size: 1.1em;
                border-bottom: 3px solid #9b1d1f;
                line-height: 1.3;
                /* iPhone 4 ----------- */
                /* iPhone 5 ----------- */
                /* iPhone 6 ----------- */
                /* Samsung Galaxy S3 ----------- */
                /* Samsung Galaxy S4 ----------- */
                /* Samsung Galaxy S5 ----------- */
                /* iPads (portrait and landscape) ----------- */
                /* kindle fire (portrait and landscape) ----------- */
                /* Large screens ----------- */ }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 50%; } }
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 55%;
                    align-self: flex-end; } }
                @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    height: 55%;
                    align-self: flex-end; } }
                @media only screen and (min-width: 1824px) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    align-self: center; } }
                @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
                  .header #accra #jbg .right .nav .linkContainer .link.selected {
                    align-self: center; } }
              .header #accra #jbg .right .nav .linkContainer .link:hover {
                border-bottom: 3px solid #9b1d1f;
                font-weight: 700;
                text-decoration: none;
                color: #9b1d1f; }
        .header #accra #jbg .right .clocks {
          width: 18%;
          display: flex;
          flex-flow: row;
          order: 2;
          z-index: 1000;
          height: 100%;
          justify-content: center;
          align-items: center;
          align-content: center;
          /* iPhone 4 ----------- */
          /* iPhone 5 ----------- */
          /* iPhone 6 ----------- */
          /* Samsung Galaxy S3 ----------- */
          /* Samsung Galaxy S4 ----------- */
          /* Samsung Galaxy S5 ----------- */
          /* iphoneX----------- */
          /* iPhone 6+ ----------- */
          /* pixel 2 ----------- */
          /* pixel 2 xl ----------- */
          /* iPads (portrait and landscape) ----------- */
          /* kindle fire (portrait and landscape) ----------- */
          /* Large screens ----------- */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 45%;
              height: 60%;
              align-self: center;
              order: 1; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2.6) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2.6) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-height: 823px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3.5) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 600px) and (max-device-height: 823px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3.5) {
            .header #accra #jbg .right .clocks {
              width: 35%; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 100%;
              align-self: center;
              justify-content: center;
              align-items: center;
              align-content: center; } }
          @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
            .header #accra #jbg .right .clocks {
              width: 25%;
              height: 100%;
              align-self: center;
              justify-content: center;
              align-items: center;
              align-content: center; } }
          @media only screen and (min-width: 1824px) {
            .header #accra #jbg .right .clocks {
              height: 100%;
              align-self: center;
              justify-content: center;
              align-items: center;
              align-content: center; } }
          @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
            .header #accra #jbg .right .clocks {
              height: 100%;
              align-self: center;
              justify-content: center;
              align-items: center;
              align-content: center; } }
          .header #accra #jbg .right .clocks .clock-container {
            width: 49%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-right: 2%;
            height: 100%;
            /* iPhone 4 ----------- */
            /* iPhone 5 ----------- */
            /* iPhone 6 ----------- */
            /* Samsung Galaxy S3 ----------- */
            /* Samsung Galaxy S4 ----------- */
            /* Samsung Galaxy S5 ----------- */
            /* iPads (portrait and landscape) ----------- */
            /* kindle fire (portrait and landscape) ----------- */
            /* Large screens ----------- */ }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            @media only screen and (min-width: 1824px) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            .header #accra #jbg .right .clocks .clock-container:hover {
              cursor: grab;
              color: #9b1d1f;
              font-weight: bolder; }
            .header #accra #jbg .right .clocks .clock-container h6 {
              padding-left: 10%;
              text-align: left;
              font-size: 0.8em;
              align-self: center;
              /* iPhone 4 ----------- */
              /* iPhone 5 ----------- */
              /* iPhone 6 ----------- */
              /* Samsung Galaxy S3 ----------- */
              /* Samsung Galaxy S4 ----------- */
              /* Samsung Galaxy S5 ----------- */
              /* iPads (portrait and landscape) ----------- */
              /* kindle fire (portrait and landscape) ----------- */
              /* Large screens ----------- */ }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 50%;
                  align-self: flex-end;
                  margin-top: 0; } }
              @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 50%;
                  align-self: flex-end;
                  margin-top: 0; } }
              @media only screen and (min-width: 1824px) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 50%;
                  align-self: flex-end;
                  margin-top: 0; } }
              @media only screen and (min-width: 1440px) and (max-device-height: 900px) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 50%;
                  align-self: flex-end;
                  margin-top: 0; } }
