.header {
  width: 100%;
  order: 1;
  display: flex;
  color: #ffffff;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10; }
  .header.people, .header.opportunity, .header.approach, .header.esg {
    height: 125px;
    width: 100%;
    object-fit: contain;
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 1px solid #696969;
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        overflow: visible;
        max-height: 100px; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        overflow: visible;
        max-height: 100px; } }
    @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        height: 150px;
        overflow: hidden; } }
    @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        height: 150px;
        overflow: hidden; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        overflow: visible; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .header.people, .header.opportunity, .header.approach, .header.esg {
        overflow: visible; } }
    .header.people.smoosh, .header.opportunity.smoosh, .header.approach.smoosh, .header.esg.smoosh {
      height: 100px; }
  .header.people {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../media/jobrg.jpg");
    background-size: 100% 100%; }
  .header.opportunity {
    background: url("../media/opportunity_banner.jpg");
    background-size: 100% 100%; }
  .header.approach {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../media/approach_banner.jpg");
    background-size: 100% 100%; }
  .header.esg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../media/esg_banner.jpg");
    background-size: 100% 100%; }
  .header.homepage {
    height: 6.2em;
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header.homepage {
        overflow-y: visible; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header.homepage {
        overflow-y: visible; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .header.homepage {
        overflow-y: visible; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .header.homepage {
        overflow-y: visible; } }
    @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
      .header.homepage {
        height: 8em; } }
    @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
      .header.homepage {
        height: 8em; } }
  .header .logo-container {
    width: 200px;
    display: flex;
    margin-left: 0;
    z-index: 100;
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 120px;
        padding-left: 3%; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 120px;
        padding-left: 3%; } }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 120px;
        padding-left: 3%; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .logo-container {
        width: 120px;
        padding-left: 3%; } }
    @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
      .header .logo-container {
        width: 150px;
        padding-left: 5%; } }
    @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
      .header .logo-container {
        width: 150px;
        padding-left: 5%; } }
    .header .logo-container .logo {
      align-self: center;
      width: 150px;
      height: auto;
      padding-top: 2px;
      /* iPads (portrait and landscape) ----------- */
      /* kindle fire (portrait and landscape) ----------- */ }
      @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .header .logo-container .logo {
          width: 100px;
          padding: 0; } }
      @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
        .header .logo-container .logo {
          width: 150px; } }
      @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
        .header .logo-container .logo {
          width: 150px; } }
  .header #accra {
    width: 80%;
    z-index: 1000;
    height: 100%;
    margin-right: 10px;
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
      .header #accra {
        align-content: flex-end; } }
    @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
      .header #accra {
        align-content: flex-end; } }
    .header #accra #jbg {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      align-content: stretch;
      align-items: stretch;
      height: 100%; }
      .header #accra #jbg .right {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;
        align-content: stretch;
        align-items: stretch;
        color: #ffffff;
        z-index: 100;
        height: 100%;
        padding-right: 2%;
        /* iPads (portrait and landscape) ----------- */
        /* kindle fire (portrait and landscape) ----------- */ }
        @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
          .header #accra #jbg .right {
            flex-flow: column-reverse;
            justify-content: flex-end;
            padding-right: 0; } }
        @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
          .header #accra #jbg .right {
            flex-flow: column-reverse;
            justify-content: flex-end;
            padding-right: 0; } }
        @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
          .header #accra #jbg .right {
            flex-flow: column-reverse;
            justify-content: space-around; } }
        @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
          .header #accra #jbg .right {
            flex-flow: column-reverse;
            justify-content: space-around; } }
        @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
          .header #accra #jbg .right {
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 0; } }
        @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
          .header #accra #jbg .right {
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 0; } }
        .header #accra #jbg .right .nav {
          width: 35%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: flex-end;
          font-size: 0.8em;
          font-weight: 400;
          height: 100%;
          z-index: 200;
          /* iPads (portrait and landscape) ----------- */
          /* kindle fire (portrait and landscape) ----------- */ }
          @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              display: none;
              width: 0; } }
          @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .nav {
              display: none;
              width: 0; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
            .header #accra #jbg .right .nav {
              display: none;
              width: 0; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
            .header #accra #jbg .right .nav {
              display: none;
              width: 0; } }
          @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
            .header #accra #jbg .right .nav {
              width: 50%;
              margin-right: 1%; } }
          @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
            .header #accra #jbg .right .nav {
              width: 50%;
              margin-right: 1%; } }
          .header #accra #jbg .right .nav .linkContainer {
            height: 57%;
            display: flex;
            align-content: flex-start;
            flex-flow: row wrap;
            align-items: flex-start; }
            .header #accra #jbg .right .nav .linkContainer.nav-item {
              list-style: none;
              font-weight: bold;
              order: 1; }
              .header #accra #jbg .right .nav .linkContainer.nav-item .link {
                color: #ffffff;
                height: 5vmin;
                align-self: flex-start;
                padding-top: 0; }
                .header #accra #jbg .right .nav .linkContainer.nav-item .link.active {
                  font-size: 1.1em;
                  border-bottom: 4px solid #9b1d1f;
                  line-height: 1.3; }
                .header #accra #jbg .right .nav .linkContainer.nav-item .link:hover {
                  border-bottom: 4px solid #9b1d1f;
                  font-weight: 700;
                  text-decoration: none;
                  color: #ffffff; }
        .header #accra #jbg .right .clocks {
          width: 18%;
          display: flex;
          flex-flow: row;
          order: 2;
          z-index: 1000;
          height: 100%;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-right: 4%;
          /* iPads (portrait and landscape) ----------- */
          /* kindle fire (portrait and landscape) ----------- */
          /* Large screens ----------- */ }
          @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 55%;
              height: 45%;
              align-self: flex-end;
              margin-right: 0;
              order: 1; } }
          @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            .header #accra #jbg .right .clocks {
              width: 55%;
              height: 45%;
              align-self: flex-end;
              margin-right: 0;
              order: 1; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
            .header #accra #jbg .right .clocks {
              width: 55%;
              height: 45%;
              align-self: flex-end;
              margin-right: 0;
              order: 1; } }
          @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
            .header #accra #jbg .right .clocks {
              width: 55%;
              height: 45%;
              align-self: flex-end;
              margin-right: 0;
              order: 1; } }
          @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
            .header #accra #jbg .right .clocks {
              width: 35%;
              height: 100%;
              align-self: center;
              justify-content: flex-end;
              align-items: center;
              align-content: center;
              margin-right: 0; } }
          @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
            .header #accra #jbg .right .clocks {
              width: 35%;
              height: 100%;
              align-self: center;
              justify-content: flex-end;
              align-items: center;
              align-content: center;
              margin-right: 0; } }
          @media only screen and (min-device-width: 1440px) and (min-device-height: 900px) {
            .header #accra #jbg .right .clocks {
              height: 100%;
              align-self: center;
              justify-content: center;
              align-items: center;
              align-content: center; } }
          .header #accra #jbg .right .clocks .clock-container {
            width: 49%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            /* iPads (portrait and landscape) ----------- */
            /* kindle fire (portrait and landscape) ----------- */
            /* Large screens ----------- */ }
            @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap; } }
            @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            @media only screen and (min-device-width: 1440px) and (min-device-height: 900px) {
              .header #accra #jbg .right .clocks .clock-container {
                justify-content: space-evenly;
                height: 100%;
                align-items: center;
                margin-right: 0; } }
            .header #accra #jbg .right .clocks .clock-container:hover {
              cursor: grab;
              color: #9b1d1f;
              font-weight: bolder; }
            .header #accra #jbg .right .clocks .clock-container h6 {
              padding-left: 10%;
              text-align: left;
              font-size: 0.8em;
              align-self: center;
              margin-bottom: 0;
              font-weight: normal;
              /* iPads (portrait and landscape) ----------- */
              /* kindle fire (portrait and landscape) ----------- */
              /* Large screens ----------- */ }
              @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  margin-top: 5%;
                  align-self: center;
                  font-size: 0.7em; } }
              @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 55%;
                  align-self: flex-end;
                  margin-top: 0; } }
              @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 55%;
                  align-self: flex-end;
                  margin-top: 0; } }
              @media only screen and (min-device-width: 1440px) and (min-device-height: 900px) {
                .header #accra #jbg .right .clocks .clock-container h6 {
                  height: 55%;
                  align-self: flex-end;
                  margin-top: 0; } }
  .header .dropdown {
    display: none;
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown {
        display: inline;
        align-self: flex-end;
        height: auto;
        overflow: visible; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown {
        display: inline;
        align-self: flex-end;
        height: auto;
        overflow: visible; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .header .dropdown {
        display: block; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .header .dropdown {
        display: block; } }
    @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
      .header .dropdown {
        display: none; } }
    @media only screen and (max-device-width: 1380px) and (min-device-width: 760px) and (min-device-height: 500px) and (orientation: landscape) {
      .header .dropdown {
        display: none; } }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown.show {
        overflow: visible; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown.show {
        overflow: visible; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .header .dropdown.show {
        overflow-y: visible; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .header .dropdown.show {
        overflow-y: visible; } }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown.show .dropdown-menu.show {
        overflow: visible; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item {
          font-family: "Josefin Sans", sans-serif;
          font-size: 0.8em; }
          .header .dropdown.show .dropdown-menu.show .dropdown-item .nav-link {
            color: #113a6e; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown.show .dropdown-menu.show {
        overflow: visible; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item {
          font-family: "Josefin Sans", sans-serif;
          font-size: 0.8em; }
          .header .dropdown.show .dropdown-menu.show .dropdown-item .nav-link {
            color: #113a6e; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .header .dropdown.show .dropdown-menu.show {
        overflow: visible; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item {
          font-family: "Josefin Sans", sans-serif;
          font-size: 0.8em; }
          .header .dropdown.show .dropdown-menu.show .dropdown-item .nav-link {
            color: #113a6e; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .header .dropdown.show .dropdown-menu.show {
        overflow: visible; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item {
          font-family: "Josefin Sans", sans-serif;
          font-size: 0.8em; }
          .header .dropdown.show .dropdown-menu.show .dropdown-item .nav-link {
            color: #113a6e; } }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown.show .dropdown-menu.show .dropdown-item {
        display: block;
        align-self: flex-end;
        width: 25%;
        height: auto; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item .btn.btn-secondary {
          background-color: rgba(0, 0, 0, 0);
          color: #ffffff;
          border: none; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .header .dropdown.show .dropdown-menu.show .dropdown-item {
        display: block;
        align-self: flex-end;
        width: 25%;
        height: auto; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item .btn.btn-secondary {
          background-color: rgba(0, 0, 0, 0);
          color: #ffffff;
          border: none; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .header .dropdown.show .dropdown-menu.show .dropdown-item {
        display: block;
        align-self: flex-end;
        width: 45%;
        height: auto; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item .btn.btn-secondary {
          background-color: rgba(0, 0, 0, 0);
          color: #ffffff;
          border: none; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .header .dropdown.show .dropdown-menu.show .dropdown-item {
        display: block;
        align-self: flex-end;
        width: 45%;
        height: auto; }
        .header .dropdown.show .dropdown-menu.show .dropdown-item .btn.btn-secondary {
          background-color: rgba(0, 0, 0, 0);
          color: #ffffff;
          border: none; } }
