@import '../_variables';
@import '../_mixins';

.header {
  width: 100%;
  order: 1;
  display: flex;
  color: $white;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: $transparent;
  z-index: 1000;

  &.people,
  &.opportunity,
  &.approach,
  &.esg {
    width: 100%;
    height: 125px;
    object-fit: contain;
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 1px solid $primaryGrey;
    @include respond-to(phone) {
      max-height: 100px;
    }
    @include respond-to(tablets) {
      height: 200px;
    }
  }

  &.people {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url('../media/jobrg.jpeg');
    background-size: 100% 100%;
  }

  &.opportunity {
    background: url('../media/opportunity_banner.jpg');
    background-size: 100% 100%;
  }

  &.approach {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url('../media/approach_banner.jpg');
    background-size: 100% 100%;
  }

  &.esg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url('../media/esg_banner.jpg');
    background-size: 100% 100%;
  }

  &.homepage {
    height: 120px;
    // color: $white;
    z-index: 1000;
  }

  .logo-container {
    width: 200px;
    display: flex;
    margin-left: 0;
    z-index: 1000;
    @include respond-to(phone) {
      width: 140px;
      padding-left: 1%;
    }
    @include respond-to(tablets) {
      width: 150px;
    }

    .logo {
      align-self: center;
      width: 150px;
      height: auto;
      padding-top: 2px;
      @include respond-to(phone) {
        width: 120px;
        padding: 0;
      }
    }
  }

  // Right Navigation
  #accra {
    width: 80%;
    z-index: 1000;
    height: 100%;
    margin-right: 10px;
    #jbg {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      align-content: stretch;
      align-items: stretch;
      height: 100%;
      .right {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;
        align-content: stretch;
        align-items: stretch;
        color: $white;
        z-index: 1000;
        height: 100%;
        padding-right: 2%;
        .nav {
          width: 30%;
          margin-right: 2%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          font-size: 0.8em;
          font-weight: 400;
          height: 100%;
          z-index: 1000;
          @include respond-to(phone) {
            order: 5;
            width: 100%;
            height: 30px;
            align-self: flex-end;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
          }
          @include respond-to(tablets) {
            width: 40%;
            height: 100%;
            align-items: flex-end;
          }
          @include respond-to(large-screen) {
            background-color: 'pink';
            align-items: flex-end;
            height: 100%;
          }
          .linkContainer {
            height: 100%;
            display: flex;
            @include respond-to(tablets) {
              align-self: flex-end;
            }
            @include respond-to(large-screen) {
              align-self: flex-end;
              height: 55%;
            }
            .link {
              align-self: flex-end;
              list-style: none;
              font-weight: bold;
              color: inherit;
              order: 1;
              height: 100%;
              @include respond-to(large-screen) {
                height: 53%;
                align-self: flex-start;
                margin-top: 0;
              }
              &.selected {
                height: 100%;
                font-size: 1.1em;
                // align-self: center;
                border-bottom: 3px solid $cayorRed;
                line-height: 1.3;
                @include respond-to(phone) {
                  height: 50%;
                }
              }
              &:hover {
                height: 100%;
                border-bottom: 3px solid $cayorRed;
                font-weight: 700;
                text-decoration: none;
                color: $white;
              }
            }
          }
        }

        .clocks {
          width: 18%;
          display: flex;
          flex-flow: row;
          order: 2;
          z-index: 1000;
          height: 100%;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-right: 4%;
          @include respond-to(phone) {
            width: 45%;
            height: 60%;
            align-self: center;
            margin-right: 3%;
            order: 1;
          }
          @include respond-to(phone-long) {
            width: 35%;
            margin-right: 3%;
          }
          @include respond-to(tablets) {
            width: 25%;
            height: 100%;
            align-self: center;
            justify-content: center;
            align-items: center;
            align-content: center;
          }
          @include respond-to(large-screen) {
            height: 100%;
            align-self: center;
            justify-content: center;
            align-items: center;
            align-content: center;
          }
          .clock-container {
            width: 49%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            @include respond-to(phone) {
              justify-content: center;
              align-items: center;
              flex-wrap: nowrap;
            }
            @include respond-to(tablets) {
              justify-content: space-evenly;
              height: 100%;
              align-items: center;
              margin-right: 0;
            }
            @include respond-to(large-screen) {
              justify-content: space-evenly;
              height: 100%;
              align-items: center;
              margin-right: 0;
            }
            &:hover {
              cursor: grab;
              color: $cayorRed;
              font-weight: bolder;
            }
            h6 {
              padding-left: 10%;
              text-align: left;
              font-size: 0.8em;
              align-self: center;
              margin-bottom: 0;
              @include respond-to(phone) {
                margin-top: 5%;
                align-self: center;
                font-size: 0.7em;
              }
              @include respond-to(tablets) {
                height: 55%;
                align-self: flex-end;
                margin-top: 0;
              }
              @include respond-to(large-screen) {
                height: 55%;
                align-self: flex-end;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
