@mixin slide-enter {
  &.slide-enter,
  &.slide-appear {
    transform: translate3d(-100%, 0, 0);
    &.slide-enter-active,
    &.slide-appear-active {
      transform: translate3d(0%, 0, 0);
      transition: transform 800ms linear 650ms;
    }
  }

}

@mixin slide-exit {
  &.slide-exit {
    position: relative;
    overflow: hidden;
    transform: translate3d(0%, -100%, 0);
    &.slide-exit-active {
      // background-color: blue;
      // opacity: 0;
      transform: translate3d(-100%, -100%, 0);
      // -webkit-animation: slide-out;
      transition: transform 600ms linear;
    }
  }
}
