@mixin slide-enter {
  &.slide-enter{
    z-index: 10;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);

    &.slide-enter-active {
      // left: 0;
      // animation: slide-in 0.5s forwards;
      // opacity: 1;
      animation: slide-in 3s forwards;
      -webkit-animation: slide-in 0.5s forwards;
      // transform: translateX(0);
      transition: animation 3s ease 3s;

    }
  }

  @keyframes slide-in {
    100% { transform: translateX(0%); }
  }

  @-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
  }

}

@mixin slide-exit {
  // width: 100%;
  // background-color: green;
  &.slide-exit {

    &.slide-exit-active {
      animation: slide-out 1s forwards;
      -webkit-animation: slide-out 1s forwards;
      // width: 0;
      // opacity: 0;
      // transform: translateX(-100%);
      // animation: slide-out 6s ease-out 0s 1;
      transition: animation 1s ease 0;
      // transition: all 3s ease-in;
      // transform: translateY(0);
      // transition: opacity 5s ease-out;
    }
  }

  @keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

  @-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
  }
}
