$backgroundColor: #eee !default;

$primaryText: rgb(68,68,68);
$primaryGrey: #696969;
$backgroundGrey: rgba(72,72,72,0.5);
$lightGrey: #D5d5d5;

$red: rgb(155,29,31);
$cayorRed: #9B1D1F;
$white: #ffffff;
$transparent: rgba(0,0,0,0.0);
$primaryBlue: #0A2342;

// Fonts
// $phoneFont:
