$backgroundColor: #eee !default;
$backgroundGrey: rgba(72, 72, 72, 1);
$backgroundOverlay: #0a2342;
$backgroundOverlayTransparent: #383a3e48;

$primaryText: rgb(68, 68, 68);

$primaryGrey: #696969;
$accentGrey: rgb(72, 72, 72);
$lightGrey: #d5d5d5;
$lightGreySemiTransparent: #d5d5d566;
$greySemiTransparent: #d5d5d599;

$cayorRed: #9b1d1f;
$cayorRedShaddow: #470c0d;
$red: rgb(155, 29, 31);

$white: #ffffff;
$gold: #ffad2f;
$transparent: rgba(0, 0, 0, 0);

$primaryBlue: #113a6e;
$secondaryBlue: #2f56e9;
$primaryBlueSemiTransparent: #0a234266;

// Fonts
// $phoneFont:
$copy-font-family: 'Josefin Sans', sans-serif;
$headline-font-family: 'Merriweather', serif;
$open-sans-font-family: 'Open Sans', sans-serif;
