html {
  height: 100%; }
  html body {
    height: 100%; }
    html body .App {
      text-align: center;
      height: 100vh;
      color: #444444;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      word-wrap: normal;
      box-sizing: border-box;
      background-color: #eee; }
      html body .App .routes {
        min-height: 100vh; }
      html body .App .shaddow {
        display: none; }
        html body .App .shaddow.true {
          display: block;
          z-index: 10;
          background-color: #470c0d;
          opacity: 0.7;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh; }
