@import './_variables';
@import './_defaults';
@import './_mixins';

html {
  height: 100%;
  body {
    height: 100%;
    .App {
      text-align: center;
      height: 100vh;
      color: $primaryText;
      font-family: $copy-font-family;
      font-weight: 400;
      word-wrap: normal;
      box-sizing: border-box;
      .routes {
        min-height: 100vh;
      }
    }
  }
}
