@import './_variables';
@import './_defaults';
@import './_mixins';

  .App {
    text-align: center;
    height: 100vh;
    color: $primaryText;
    font-family: 'Roboto', sans-serif;
    // .body {
    // }
  }
  @include respond-to(phone) {

  }
