.router {
  height: 100vh; }
  .router .root-container {
    height: inherit; }
    .router .root-container.slide-enter, .router .root-container.slide-appear {
      z-index: 1; }
      .router .root-container.slide-enter.slide-enter-active, .router .root-container.slide-enter.slide-appear-active, .router .root-container.slide-appear.slide-enter-active, .router .root-container.slide-appear.slide-appear-active {
        animation: slide-in 800ms linear 300ms;
        -webkit-animation: slide-in 800ms linear;
        transition: animation 1200ms; }

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
    .router .root-container.slide-exit {
      opacity: 1; }
      .router .root-container.slide-exit.slide-exit-active {
        opacity: 0; }

@keyframes slide-out {
  0% { }
  100% { } }
