.button {
  background-color: rgba(0, 0, 0, 0);
  border: #696969 1px solid; }
  .button.more {
    max-width: 30%;
    background-color: #113a6e;
    color: #ffffff;
    align-self: flex-end;
    display: inline;
    /* iPhone 4 ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .button.more {
        display: none; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .button.more {
        display: none; } }
