@import '../_variables';
@import '../_mixins';

.footer {
  position: fixed;
  width: 75%;
  max-height: 50px;
  background-color: $transparent;
  bottom: 5px;
  color: $primaryGrey;
  left: 25%;
  .right,
  .left {
    width: 30%;
  }

  .left {
    margin-left: 1%;
  }
  .right {
    margin-right: 1%;
  }
}

@include respond-to(phone) {
  .footer {
    height: 20px;
    position: absolute;
    bottom: 0;
    .left {
      margin-left: 1%;
      width: 45%;
    }
    .right {
      margin-right: 1%;
      width: 45%;
    }
  }
}
