.footer {
  position: fixed;
  width: 75%;
  max-height: 50px;
  background-color: rgba(0, 0, 0, 0);
  bottom: 5px;
  color: #696969;
  left: 25%; }
  .footer .right,
  .footer .left {
    width: 30%; }
  .footer .left {
    margin-left: 1%; }
  .footer .right {
    margin-right: 1%; }

/* iPhone 4 ----------- */
@media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    height: 20px;
    position: absolute;
    bottom: 0; }
    .footer .left {
      margin-left: 1%;
      width: 45%; }
    .footer .right {
      margin-right: 1%;
      width: 45%; } }

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    height: 20px;
    position: absolute;
    bottom: 0; }
    .footer .left {
      margin-left: 1%;
      width: 45%; }
    .footer .right {
      margin-right: 1%;
      width: 45%; } }
