@import '../_variables';
@import '../_mixins';

.footer {
  position: absolute;
  width: 75%;
  height: 50px;
  background-color: $transparent;
  bottom: 0;
  color: $primaryGrey;
  left: 25%;
  .right, .left, .middle {
    width: 30%;
    font-size: .6em;
    padding-top: 20px;
  }

  .left {
    margin-left: 5%;
    padding-left: 50px;
  }
  .right {
    margin-right: 5%;
    // padding-top: 20px;
    padding-right: 25px;
  }
}

@include respond-to(phone) {
  .footer {
    height: 40px;
    .left {
      margin-left: 2%;
      padding-top: 10px;
      padding-left: 15px;
    }
    .right {
      margin-right: 2%;
      padding-top: 10px;
      padding-right: 15px;
    }
  }
}
