@import '../_variables';
@import '../_mixins';

.footer {
  position: fixed;
  // display: block;
  width: 75%;
  max-height: 50px;
  background-color: $transparent;
  bottom: 5px;
  color: $primaryGrey;
  left: 25%;
  .right,
  .left {
    width: 30%;
  }

  .left {
    margin-left: 1%;
    // padding-left: 50px;
  }
  .right {
    margin-right: 1%;
    // padding-top: 20px;
    // padding-right: 25px;
  }
}

@include respond-to(phone) {
  .footer {
    height: 40px;
    .left {
      margin-left: 2%;
      // padding-top: 10px;
      // padding-left: 15px;
    }
    .right {
      margin-right: 2%;
      // padding-top: 10px;
      // padding-right: 15px;
    }
  }
}
