@import '../_mixins';

.PageDetails {
  max-height: 850px;
  min-height: 650px;
  display: inline-block;
  width: 75%;
  p {
    margin: 30px;
    text-align: left;
  }
}

@include respond-to(phone) {
  max-height: 350px;
  min-height: 300px;
  p {
    margin: 15px;
  }
}
