@import '../_mixins';

.PageDetails {
  max-height: 350px;
  min-height: 100px;
  display: inline-block;
  width: 70%;
  margin-top: 2%;
  p {
    margin: 30px;
    text-align: left;
  }
}

@include respond-to(phone) {
  max-height: 150px;
  min-height: 100px;
  p {
    margin: 15px;
  }
}
