.card {
  border-right: 1px solid #470c0d;
  border-bottom: 1px solid #470c0d;
  border-left: 1px solid #470c0d;
  border-radius: 0; }
  .card .card-body {
    margin: 10px 10% 10px 0;
    overflow-y: scroll; }
    .card .card-body .card-subtitle {
      color: #9b1d1f;
      float: left;
      font-size: 1em;
      text-align: left;
      display: block;
      width: 100%; }
    .card .card-body .card-text {
      text-align: left;
      width: 90%;
      font-size: 0.9em;
      color: #696969; }
