@import '../_variables';

.card {
  .card-body {
    margin: 10px 10% 10px 0;
    .card-subtitle {
      color: $cayorRed;
      float: left;
      text-align: left;
      display: block;
      width: 100%;
    }
    .card-text {
      text-align: left;
      width: 90%
    }
  }
}
