.text-table-container {
  width: 80%;
  display: block;
  margin-bottom: 0;
  margin-top: 3%;
  height: 80%;
  position: relative;
  overflow: hidden;
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  .text-table-container.slide-enter, .text-table-container.slide-appear {
    transform: translate3d(-100%, 0, 0); }
    .text-table-container.slide-enter.slide-enter-active, .text-table-container.slide-enter.slide-appear-active, .text-table-container.slide-appear.slide-enter-active, .text-table-container.slide-appear.slide-appear-active {
      transform: translate3d(0%, 0, 0);
      transition: transform 800ms linear 650ms; }
  .text-table-container.slide-exit {
    position: relative;
    overflow: hidden;
    transform: translate3d(0%, -100%, 0); }
    .text-table-container.slide-exit.slide-exit-active {
      transform: translate3d(-100%, -100%, 0);
      transition: transform 600ms linear; }
  @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .text-table-container {
      overflow: scroll;
      width: 95%;
      height: 90%; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .text-table-container {
      overflow: scroll;
      width: 95%;
      height: 90%; } }
  @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
    .text-table-container {
      overflow: scroll;
      width: 95%;
      height: 90%; } }
  @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
    .text-table-container {
      overflow: scroll;
      width: 95%;
      height: 90%; } }
  @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
    .text-table-container {
      margin-top: 8%;
      width: 95%;
      overflow: scroll;
      height: 85%; } }
  @media only screen and (max-device-width: 1380px) and (min-device-width: 1060px) and (min-device-height: 700px) and (orientation: landscape) {
    .text-table-container {
      margin-top: 8%;
      width: 95%;
      overflow: scroll;
      height: 85%; } }
  .text-table-container.smoosh {
    overflow: scroll;
    width: 100%;
    height: 85%; }
    .text-table-container.smoosh .approach {
      overflow: inherit; }
  .text-table-container .header.left {
    float: left;
    font-size: 1.75rem;
    width: 40%;
    display: inline-block;
    color: #696969;
    background: rgba(0, 0, 0, 0);
    /* iPads (portrait and landscape) ----------- */
    /* kindle fire (portrait and landscape) ----------- */ }
    @media only screen and (min-device-height: 300px) and (max-device-height: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
      .text-table-container .header.left {
        font-size: 1.5em;
        width: 60%; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      .text-table-container .header.left {
        font-size: 1.5em;
        width: 60%; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: portrait) {
      .text-table-container .header.left {
        font-size: 1.5em;
        width: 60%; } }
    @media only screen and (min-device-width: 370px) and (max-device-height: 830px) and (orientation: landscape) {
      .text-table-container .header.left {
        font-size: 1.5em;
        width: 60%; } }
    @media only screen and (max-device-height: 1380px) and (min-device-height: 760px) and (min-device-width: 500px) and (orientation: portrait) {
      .text-table-container .header.left {
        font-size: 2rem;
        width: 50%; } }
    @media only screen and (max-device-width: 1380px) and (min-device-width: 1060px) and (min-device-height: 700px) and (orientation: landscape) {
      .text-table-container .header.left {
        font-size: 2rem;
        width: 50%; } }
