.text-table {
  height: auto;
  position: relative;
  display: inline-block; }
  .text-table h4 {
    text-align: center;
    margin: 0;
    width: 100%;
    font-family: "Merriweather", serif;
    color: #0A2342; }
  .text-table li {
    list-style: none;
    padding: 5px 10px;
    text-align: left;
    font-weight: 400; }
