.text-table-container {
  width: 80%;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 3%;
  height: 100%;
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  .text-table-container.slide-enter, .text-table-container.slide-appear {
    z-index: 1; }
    .text-table-container.slide-enter.slide-enter-active, .text-table-container.slide-enter.slide-appear-active, .text-table-container.slide-appear.slide-enter-active, .text-table-container.slide-appear.slide-appear-active {
      animation: slide-in 800ms linear 300ms;
      -webkit-animation: slide-in 800ms linear;
      transition: animation 1200ms; }

@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0%, 0, 0); } }
  .text-table-container.slide-exit {
    opacity: 1; }
    .text-table-container.slide-exit.slide-exit-active {
      opacity: 0; }

@keyframes slide-out {
  0% { }
  100% { } }
  @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
    .text-table-container {
      margin-top: 8%; } }
  @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
    .text-table-container {
      margin-top: 8%; } }
  .text-table-container .header.left {
    float: left;
    font-size: 1.75rem;
    width: 40%;
    display: inline-block;
    color: #696969;
    background: rgba(0, 0, 0, 0); }
