@import '../_variables';
@import '../_mixins';

.text-table {
  height: auto;
  position: relative;
  width: 90%;
  display: inline-block;
  padding-right: 5%;
  color: $primaryGrey;
  @include respond-to(phone) {
    overflow-y: scroll;
    overflow: auto;
    // padding-right: 0;
  }
  &.bullet {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
    padding-top: 0;
    .headerContainer {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-content: center;
      height: 150px;
      @include respond-to(phone) {
        height: 150px;
        // display: flex;
        width: 100%;
      }
      .headerImg {
        width: 90px;
        height: 90px;
        @include respond-to(phone) {
          display: none;
        }
      }
      h4 {
        text-align: left;
        margin: 0 10px;
        width: 70%;
        font-family: $open-sans-font-family;
        color: $primaryBlue;
        font-size: 1.4em;
        height: auto;
        @include respond-to(phone phone-long) {
          font-size: 1em;
          color: $primaryBlue;
          margin: 0;
          width: 100%;
          // background-color: blue;
          height: 150px;
        }
      }
    }
    ul {
      overflow-y: scroll;
      .text {
        list-style: none;
        padding: 7px 0;
        margin-left: 4%;
        text-align: left;
        width: 80%;
        font-size: 1em;
        flex-grow: 1;
        @include respond-to(phone) {
          font-size: 0.8em;
        }
      }
    }
  }

  &.other {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    margin-left: 5%;
    height: 100%;
    // @include respond-to(tablets) {
    //   justify-content: flex-start;
    // }
    // @include respond-to(phone-long) {
    //   justify-content: flex-start;
    // }
    // @include respond-to(phone) {
    //   justify-content: flex-start;
    // }
    .headerContainer {
      h4 {
        @include respond-to(phone) {
          font-size: 1.2em;
          width: 100%;
        }
        @include respond-to(phone-long) {
          font-size: 1.2em;
          width: 100%;
        }
        @include respond-to(tablets) {
          // font-size: 1.2em;
          width: 100%;
        }
      }
    }
    ul {
      @include respond-to(phone) {
        padding-left: 20px;
      }
      .subHeader {
        width: 100%;
      }
    }
    .approach {
      @include respond-to(phone) {
        overflow-y: scroll;
        padding-left: 0;
        height: 100%;
      }
      .subHeader {
        @include respond-to(phone) {
          width: 100%;
          font-size: 0.9em;
          margin-left: 0;
          // width: 90%;
        }
        @include respond-to(phone-long) {
          width: 100%;
          font-size: 0.9em;
          margin-left: 0;
          // width: 90%;
        }
        @include respond-to(tables) {
          width: 100%;
          font-size: 0.9em;
          margin-left: 10px;
          // width: 90%;
        }
      }
    }
  }
  .approach {
    @include respond-to(phone) {
      overflow-y: scroll;
      padding-left: 0;
      height: 100%;
    }
    .subHeader {
      @include respond-to(phone) {
        width: 100%;
        font-size: 0.9em;
        margin-left: 0;
      }
    }
  }

  .text {
    list-style: none;
    padding: 7px 0;
    text-align: left;
    width: 80%;
    margin-left: -3.4%;
    font-size: 1em;
    @include respond-to(phone) {
      font-size: 0.8em;
      margin-left: -3%;
      width: 100%;
    }
    &.bullet {
      margin-left: 0;
      @include respond-to(phone) {
        margin-left: 3%;
      }
    }
  }

  .headerContainer {
    h4 {
      text-align: left;
      margin: 0;
      width: 90%;
      font-family: $open-sans-font-family;
      color: $primaryBlue;
      padding-bottom: 3%;
      font-weight: bold;
      @include respond-to(phone) {
        // background-color: blue;
        // font-size: 1em;
        color: $primaryBlue;
        margin: 0;
        width: 100%;
        // height: 150px;
      }
    }
  }

  .text,
  .subHeader {
    list-style: none;
    padding: 10px 0 0 0;
    margin-left: -3.4%;
    text-align: left;
    font-size: 1em;
    @include respond-to(phone) {
      font-size: 0.8em;
      padding: 4px 0 2px 5px;
      margin-left: 0;
      width: 100%;

      // background-color: blue;
    }
  }
  .subHeader {
    font-weight: bold;
    color: $cayorRed;
    width: 90%;
    @include respond-to(phone) {
      margin-top: 10px;
      margin-left: -5%;
      width: 100%;
    }
  }
}
