.text-table-container {
  width: 80%;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 3%;
  height: 100%;
  /* iPads (portrait and landscape) ----------- */
  /* kindle fire (portrait and landscape) ----------- */ }
  @media only screen and (max-device-width: 800px) and (max-device-height: 1280px) and (min-device-height: 800px) and (orientation: portrait) {
    .text-table-container {
      margin-top: 8%; } }
  @media only screen and (max-device-width: 1280px) and (max-device-height: 800px) and (min-device-width: 1000px) and (orientation: landscape) {
    .text-table-container {
      margin-top: 8%; } }
  .text-table-container .header.left {
    float: left;
    font-size: 1.75rem;
    width: 40%;
    display: inline-block;
    color: #696969;
    background: rgba(0, 0, 0, 0); }
