.text-table {
  height: auto;
  position: relative;
  width: 90%;
  display: inline-block;
  padding-top: 4.5%;
  padding-right: 5%;
  color: #696969; }
  .text-table.bullet {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin-left: 5%; }
    .text-table.bullet .headerContainer {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-content: center; }
      .text-table.bullet .headerContainer .headerImg {
        width: 90px;
        height: 90px; }
      .text-table.bullet .headerContainer h4 {
        text-align: left;
        margin: 0 10px;
        width: 70%;
        font-family: "Open Sans", sans-serif;
        color: #113a6e;
        font-size: 1.4em;
        height: auto; }
    .text-table.bullet .text {
      list-style: none;
      padding: 7px 0;
      margin-left: 4%;
      text-align: left;
      width: 80%;
      font-size: 1em; }
  .text-table.other {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin-left: 5%; }
  .text-table .text {
    list-style: none;
    padding: 7px 0;
    text-align: left;
    width: 80%;
    margin-left: -3.4%;
    font-size: 1em; }
    .text-table .text.bullet {
      margin-left: 0; }
  .text-table h4 {
    text-align: left;
    margin: 0;
    width: 90%;
    font-family: "Open Sans", sans-serif;
    color: #113a6e;
    padding-bottom: 3%;
    font-weight: bold; }
  .text-table .text,
  .text-table .subHeader {
    list-style: none;
    padding: 10px 0 0 0;
    margin-left: -3.4%;
    text-align: left;
    font-size: 1em; }
  .text-table .subHeader {
    font-weight: bold;
    color: #9B1D1F;
    padding: 10px 0 0 0;
    width: 90%; }
